[user]
	name = JuanJo Ciarlante
	email = juanjosec@gmail.com
[merge]
	tool = vimdiff
[core]
	editor = vim
	excludesfile = /home/jjo/.gitignore_global
[alias]
	last = log -1 HEAD
	co = checkout
	st = status
	br = branch
	ci = commit
	di = diff
	unstage = reset HEAD --
	ls = ls-files -v --stage --abbrev=8
	log-graph = log --pretty=oneline --graph --all --abbrev-commit --decorate
	log-grep = !sh -c 'git log -p -m --pickaxe-regex -S$1 $2' -
	uncommit = reset --soft HEAD^
	prune-merged = git branch --merged | grep dm/ | grep -v "\\*" | xargs -rn1 git branch -d


[color]
	ui = auto

[diff]
	guitool = meld
	tool = vimdiff
[push]
	default = simple

[url "git+ssh://jjo@git.launchpad.net/"]
	insteadof = lp:
