[user]
	name = JuanJo Ciarlante
	email = juanjosec@gmail.com
[merge]
	tool = vimdiff
[core]
	editor = vim
[alias]
	last = log -1 HEAD
	co = checkout
	st = status
	br = branch
	ci = commit
	unstage = reset HEAD --
	ls = ls-files -v --stage --abbrev=8
	log-graph = log --pretty=oneline --graph --all
	log-grep = !sh -c 'git log -p -m --pickaxe-regex -S$1 $2' -

[color]
	ui = auto

[diff]
	guitool = meld
	tool = vimdiff
